/*opening sutter animation*/
.bg {
  width: 100vw;
  height: 100vh;
  background: orange;
  animation: bgAnime 1s linear 3.0s forwards;
  position: absolute;
  top: 0;
  left: 0;
}

.text {
  text-align: center;
  font-size: 6vw;
  font-family: 'Pacifico', cursive;
  color: #fff;
  height: 1em;
  line-height: 1.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 7;
  opacity: 0;
  animation: textAnime1 .5s linear forwards;
}

.text span{
  display: inline-block;
}

.text span:nth-child(1){
  animation: textAnime2 .6s ease-in-out .5s forwards;
}

.text span:nth-child(2){
  animation: textAnime2 .6s ease-in-out .6s forwards;
}

.text span:nth-child(3){
  animation: textAnime2 .6s ease-in-out .7s forwards;
}

.text span:nth-child(4){
  animation: textAnime2 .6s ease-in-out .8s forwards;
}

.text span:nth-child(5){
  animation: textAnime2 .6s ease-in-out .9s forwards;
}

.text span:nth-child(6){
  animation: textAnime2 .6s ease-in-out 1.0s forwards;
}

.text span:nth-child(7){
  animation: textAnime2 .6s ease-in-out 1.1s forwards;
}

.text span:nth-child(8){
  animation: textAnime2 .6s ease-in-out 1.2s forwards;
}

.text span:nth-child(9){
  animation: textAnime2 .6s ease-in-out 1.3s forwards;
}

.text span:nth-child(10){
  animation: textAnime2 .6s ease-in-out 1.4s forwards;
}

.text span:nth-child(11){
  animation: textAnime2 .6s ease-in-out 1.5s forwards;
}

.text span:nth-child(12){
  animation: textAnime2 .6s ease-in-out 1.6s forwards;
}

.text span:nth-child(13){
  animation: textAnime2 .6s ease-in-out 1.7s forwards;
}

.text span:nth-child(14){
  animation: textAnime2 .6s ease-in-out 1.8s forwards;
}

.text span:nth-child(15){
  animation: textAnime2 .6s ease-in-out 1.9s forwards;
}

.text span:nth-child(16){
  animation: textAnime2 .6s ease-in-out 2.0s forwards;
}

.text span:nth-child(17){
  animation: textAnime2 .6s ease-in-out 2.1s forwards;
}


/*keyframe*/
@keyframes textAnime1{
0%{
  opacity: 0;
}
100%{
  opacity: 1;
}
}

@keyframes textAnime2 {
0% {
  transform: translateY(0);
}
25%{
  transform: translateY(-30%);
}
75% {
  transform: translateY(30%);
}
100%{
  transform: translateY(0);
}
}

@keyframes bgAnime{
0%{
  opacity: 10;
}
99%{
  opacity: 0;
}
100%{
  opacity: 0;
  visibility: hidden;
}
}
  


/* Google Fonts読み込み */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

/* 簡易リセットCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* スライダー全体 */
.vertical-slider {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

/* スライド */
.vertical-slider__slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #fff;
}

/* 1枚目のスライド */
.vertical-slider__slide:nth-child(1) {
  background-color: #fa5457;
}

/* 2枚目のスライド */
.vertical-slider__slide:nth-child(2) {
  background-color: #fa8925;
}

/* 3枚目のスライド */
.vertical-slider__slide:nth-child(3) {
  background-color: #f6d51f;
}

/* 4枚目のスライド */
.vertical-slider__slide:nth-child(4) {
  background-color: #01b4bc;
}

/* 5枚目のスライド */
.vertical-slider__slide:nth-child(5) {
  background-color: #5fa55a;
}

/* 6枚目のスライド */
.vertical-slider__slide:nth-child(6) {
    background-color: pink;
}


/* 7枚目のスライド */
.vertical-slider__slide:nth-child(7) {
    background-color: bisque;
}

/* 8枚目のスライド */
.vertical-slider__slide:nth-child(8) {
    background-color: #fa5457;
  }
  
  /* 9枚目のスライド */
  .vertical-slider__slide:nth-child(9) {
    background-color: #fa8925;
  }
  
  /* 10枚目のスライド */
  .vertical-slider__slide:nth-child(10) {
    background-color: #f6d51f;
  }
  
  /* 11枚目のスライド */
  .vertical-slider__slide:nth-child(11) {
    background-color: #01b4bc;
  }
  
  /* 12枚目のスライド */
  .vertical-slider__slide:nth-child(12) {
    background-color: #5fa55a;
  }
  
  /* 13枚目のスライド */
  .vertical-slider__slide:nth-child(13) {
      background-color: pink;
  }
  
  
  /* 14枚目のスライド */
  .vertical-slider__slide:nth-child(14) {
      background-color: bisque;
  }

/* 15枚目のスライド */
.vertical-slider__slide:nth-child(15) {
    background-color: #f6d51f;
}
      
/* 16枚目のスライド */
.vertical-slider__slide:nth-child(16) {
   background-color: #01b4bc;
}

  /* 17枚目のスライド */
  .vertical-slider__slide:nth-child(17) {
    background-color: #fa8925;
  }
      

/* SP時の文字サイズ調整 */
@media (max-width: 599px) {
  .vertical-slider__slide {
    font-size: 16vw;
  }
}

.link {
    z-index: 100;
    height: 100%;
}

.slide {
    height: 100%;
    font-size: 10px;
}


